{% extends 'base.html.twig' %}

{% block body %}
    <h1>Participacioncontenidos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participacionContenido in participacionContenidos %}
            <tr>
                <td><a href="{{ path('participacioncontenido_show', { 'id': participacionContenido.id }) }}">{{ participacionContenido.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('participacioncontenido_show', { 'id': participacionContenido.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('participacioncontenido_edit', { 'id': participacionContenido.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('participacioncontenido_new') }}">Create a new participacionContenido</a>
        </li>
    </ul>
{% endblock %}
