{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contenidos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Productora</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contenido in contenidos %}
            <tr>
                <td><a href="{{ path('contenido_show', { 'id': contenido.id }) }}">{{ contenido.id }}</a></td>
                <td>{{ contenido.nombre }}</td>
                <td>{{ contenido.descripcion }}</td>
                <td>{{ contenido.productora }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contenido_show', { 'id': contenido.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contenido_edit', { 'id': contenido.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contenido_new') }}">Create a new contenido</a>
        </li>
    </ul>
{% endblock %}
