{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contenido</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contenido.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ contenido.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ contenido.descripcion }}</td>
            </tr>
            <tr>
                <th>Productora</th>
                <td>{{ contenido.productora }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contenido_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('contenido_edit', { 'id': contenido.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
