{% extends 'base.html.twig' %}

{% block body %}
    <h1>Episodios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Duracion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for episodio in episodios %}
            <tr>
                <td><a href="{{ path('episodio_show', { 'id': episodio.id }) }}">{{ episodio.id }}</a></td>
                <td>{{ episodio.descripcion }}</td>
                <td>{{ episodio.duracion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('episodio_show', { 'id': episodio.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('episodio_edit', { 'id': episodio.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('episodio_new') }}">Create a new episodio</a>
        </li>
    </ul>
{% endblock %}
