{% extends 'base.html.twig' %}

{% block body %}
    <h1>Episodio</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episodio.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ episodio.descripcion }}</td>
            </tr>
            <tr>
                <th>Duracion</th>
                <td>{{ episodio.duracion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('episodio_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('episodio_edit', { 'id': episodio.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
