{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contenidocategorias list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contenidoCategorium in contenidoCategorias %}
            <tr>
                <td><a href="{{ path('contenidocategoria_show', { 'id': contenidoCategorium.id }) }}">{{ contenidoCategorium.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contenidocategoria_show', { 'id': contenidoCategorium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contenidocategoria_edit', { 'id': contenidoCategorium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contenidocategoria_new') }}">Create a new contenidoCategorium</a>
        </li>
    </ul>
{% endblock %}
