{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plans list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Perfiles</th>
                <th>Monto</th>
                <th>Calidad</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plan in plans %}
            <tr>
                <td><a href="{{ path('plan_show', { 'id': plan.id }) }}">{{ plan.id }}</a></td>
                <td>{{ plan.nombre }}</td>
                <td>{{ plan.perfiles }}</td>
                <td>{{ plan.monto }}</td>
                <td>{{ plan.calidad }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('plan_show', { 'id': plan.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('plan_edit', { 'id': plan.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plan_new') }}">Create a new plan</a>
        </li>
    </ul>
{% endblock %}
