{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plan</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plan.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ plan.nombre }}</td>
            </tr>
            <tr>
                <th>Perfiles</th>
                <td>{{ plan.perfiles }}</td>
            </tr>
            <tr>
                <th>Monto</th>
                <td>{{ plan.monto }}</td>
            </tr>
            <tr>
                <th>Calidad</th>
                <td>{{ plan.calidad }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plan_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('plan_edit', { 'id': plan.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
