{% extends 'base.html.twig' %}

{% block body %}
    <h1>Idiomas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for idioma in idiomas %}
            <tr>
                <td><a href="{{ path('idioma_show', { 'id': idioma.id }) }}">{{ idioma.id }}</a></td>
                <td>{{ idioma.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('idioma_show', { 'id': idioma.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('idioma_edit', { 'id': idioma.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('idioma_new') }}">Create a new idioma</a>
        </li>
    </ul>
{% endblock %}
