{% extends 'base.html.twig' %}

{% block body %}
    <h1>Serie</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ serie.id }}</td>
            </tr>
            <tr>
                <th>Episodios</th>
                <td>{{ serie.episodios }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('serie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('serie_edit', { 'id': serie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
