{% extends 'base.html.twig' %}

{% block body %}
    <h1>Limiteedads list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for limiteEdad in limiteEdads %}
            <tr>
                <td><a href="{{ path('limiteedad_show', { 'id': limiteEdad.id }) }}">{{ limiteEdad.id }}</a></td>
                <td>{{ limiteEdad.nombre }}</td>
                <td>{{ limiteEdad.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('limiteedad_show', { 'id': limiteEdad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('limiteedad_edit', { 'id': limiteEdad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('limiteedad_new') }}">Create a new limiteEdad</a>
        </li>
    </ul>
{% endblock %}
