{% extends 'base.html.twig' %}

{% block body %}
    <h1>Configuracionreproduccions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datos</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for configuracionReproduccion in configuracionReproduccions %}
            <tr>
                <td><a href="{{ path('configuracionreproduccion_show', { 'id': configuracionReproduccion.id }) }}">{{ configuracionReproduccion.id }}</a></td>
                <td>{{ configuracionReproduccion.datos }}</td>
                <td>{{ configuracionReproduccion.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('configuracionreproduccion_show', { 'id': configuracionReproduccion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('configuracionreproduccion_edit', { 'id': configuracionReproduccion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('configuracionreproduccion_new') }}">Create a new configuracionReproduccion</a>
        </li>
    </ul>
{% endblock %}
