{% extends 'base.html.twig' %}

{% block body %}
    <h1>Configuracionreproduccion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ configuracionReproduccion.id }}</td>
            </tr>
            <tr>
                <th>Datos</th>
                <td>{{ configuracionReproduccion.datos }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ configuracionReproduccion.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('configuracionreproduccion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('configuracionreproduccion_edit', { 'id': configuracionReproduccion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
