{% extends 'base.html.twig' %}

{% block body %}
    <h1>Participacions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participacion in participacions %}
            <tr>
                <td><a href="{{ path('participacion_show', { 'id': participacion.id }) }}">{{ participacion.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('participacion_show', { 'id': participacion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('participacion_edit', { 'id': participacion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('participacion_new') }}">Create a new participacion</a>
        </li>
    </ul>
{% endblock %}
