{% extends 'base.html.twig' %}

{% block body %}
    <h1>Calificacions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Calificacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for calificacion in calificacions %}
            <tr>
                <td><a href="{{ path('calificacion_show', { 'id': calificacion.id }) }}">{{ calificacion.id }}</a></td>
                <td>{{ calificacion.calificacion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('calificacion_show', { 'id': calificacion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('calificacion_edit', { 'id': calificacion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('calificacion_new') }}">Create a new calificacion</a>
        </li>
    </ul>
{% endblock %}
