{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contenidoidiomas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contenidoIdioma in contenidoIdiomas %}
            <tr>
                <td><a href="{{ path('contenidoidioma_show', { 'id': contenidoIdioma.id }) }}">{{ contenidoIdioma.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contenidoidioma_show', { 'id': contenidoIdioma.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contenidoidioma_edit', { 'id': contenidoIdioma.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contenidoidioma_new') }}">Create a new contenidoIdioma</a>
        </li>
    </ul>
{% endblock %}
