{% extends 'base.html.twig' %}

{% block body %}
    <h1>Perfils list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Listaid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for perfil in perfils %}
            <tr>
                <td><a href="{{ path('perfil_show', { 'id': perfil.id }) }}">{{ perfil.id }}</a></td>
                <td>{{ perfil.nombre }}</td>
                <td>{{ perfil.listaId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('perfil_show', { 'id': perfil.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('perfil_edit', { 'id': perfil.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('perfil_new') }}">Create a new perfil</a>
        </li>
    </ul>
{% endblock %}
