{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pai</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pai.id }}</td>
            </tr>
            <tr>
                <th>Abreviatura</th>
                <td>{{ pai.abreviatura }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ pai.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pais_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pais_edit', { 'id': pai.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
