{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for listum in listas %}
            <tr>
                <td><a href="{{ path('lista_show', { 'id': listum.id }) }}">{{ listum.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lista_show', { 'id': listum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('lista_edit', { 'id': listum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lista_new') }}">Create a new listum</a>
        </li>
    </ul>
{% endblock %}
